*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    
    align-items: center;
    justify-content: center;
    background-color: #1f1f23!important;
}


/******************** NAVBAR STYLING START *****************/

.navbar-text
{
    font-style: inherit;
    font-size: 1.2em;
    color: #00ffff!important;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link
{
    color: #fff!important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
    color: #00ffff!important;
}

.btn
{
    color: #00ffff!important;
}

/****************** NAVBAR STYLING END ******************/



.about-section{
    background: url(../image/event.jpg) no-repeat left;
    background-size: 55%;
    background-color: #1f1f23;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #dcdcdc;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    border-bottom: 1px solid #dc3545;

}

.text{
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}



@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}




/**************** FOOTER STYLING START ****************/

footer
{
    margin-top: 10px;
}

.gamma
{
    width: 125px;
    height: 2px;
}

.delta
{
    width: 110px;
    height: 2px;
}

.zeta
{
    width: 75px;
    height: 2px;
}

.omega h6
{
    color: #fff;
}

.omega p
{
    color: #fff;
}

.omega li
{
    color: #fff;
}

/**************** FOOTER STYLING END ****************/
