*{margin: 0; padding: 0; box-sizing: border-box;}

body
{
    overflow-x: hidden;
    background-color: #1f1f23 !important;
}

.my-5
{
    color: #fff;
    border-bottom: 1px solid #b1b1b1;
}


/******************** NAVBAR STYLING START *****************/

.navbar-text
{
  font-style: inherit;
  font-size: 1.2em;
  color: #00ffff!important;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link
{
  color: #fff!important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
  color: #00ffff!important;
}

.btn
{
  color: #00ffff!important;
  border-radius: 200px !important;
}

/****************** NAVBAR STYLING END ******************/




.event-container {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.event-container h3.year {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
  color: #fff;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #222;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 40px 0 0 40px;
  border: 1px solid #fff;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  border: 1px solid #fff;
  border-radius: 0 40px 40px 0;
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: #00ffff;
  text-transform: uppercase;
}

.event-description{
  color: #fff;
}

.event .event-right .event-timing {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}

@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}



/**************** FOOTER STYLING START ****************/

footer
{
    margin-top: 10px;
}

.gamma
{
    width: 125px;
    height: 2px;
}

.delta
{
    width: 110px;
    height: 2px;
}

.zeta
{
    width: 75px;
    height: 2px;
}

.omega h6
{
    color: #fff;
}

.omega p
{
    color: #fff;
}

.omega li
{
    color: #fff;
}

/**************** FOOTER STYLING END ****************/