* {
  box-sizing:border-box;
}
body 
{
   background-color: #1f1f23 !important;
  font-family:"Raleway";
  overflow-x: hidden;
}

h2
{
  color: #fff;
  font-weight: bold;
}

label
{
  color: #fff;
  font-weight: bold;
}

P{
  color: #fff;
}

.tab-content .btn{
  color: #fff!important;
}

/******************** NAVBAR STYLING START *****************/

.navbar-text
{
  font-style: inherit;
  font-size: 1.2em;
  color: #00ffff!important;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link
{
  color: #fff!important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
  color: #00ffff!important;
}

.btn
{
  color: #00ffff!important;
  border-radius: 200px !important;
}
.btn:hover
{
  color: #000!important;
  
}

/****************** NAVBAR STYLING END ******************/

.tabs 
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-30%);
  width:1200px;
  height:1000px;
  padding:30px 20px;
  background: #1f1f23;
  overflow:hidden;
}

.tabs .tab-header 
{
  float:left;
  width:180px;
  height:100%;
  border-right:1px solid #fff;
  padding:200px 0px;
}

.tabs .tab-header > section 
{
  height:50px;
  line-height:50px;
  font-size:18px;
  font-weight:600;
  color:#888;
  cursor:pointer;
  padding-left:10px;
}

.tabs .tab-header > section:hover,
.tabs .tab-header > section.active 
{
  color:#00ffff;
}

.tabs .tab-header section i 
{
  display:inline-block;
  margin-left:10px;
  margin-right:5px;
}

.tabs .tab-content 
{
  position:relative;
  height:100%;
  overflow:hidden;
}

.tabs .tab-content > section > i 
{
  display:inline-block;
  width:50px;
  height:50px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  line-height:50px;
  border-radius:50%;
}

.tabs .tab-content > section 
{
  position:absolute;
  text-align:center;
  padding:10px 10px;
  top:-150%;
  transition:all 500ms ease-in-out;
}

.tabs .tab-content > section.active 
{
  top:0px;
}

.tabs .tab-indicator 
{
  position:absolute;
  width:0px;
  height:0px;
  background:#00ffff;
  left:198px;
  top:233px;
  transition:all 500ms ease-in-out;
}

/**************** FOOTER STYLING START ****************/

footer
{
    margin-top: 1050px;
}

.gamma
{
    width: 125px;
    height: 2px;
}

.delta
{
    width: 110px;
    height: 2px;
}

.zeta
{
    width: 75px;
    height: 2px;
}

.omega h6
{
    color: #fff;
}

.omega p
{
    color: #fff;
}

.omega li
{
    color: #fff;
}

/**************** FOOTER STYLING END ****************/

/******** pic upload start *******/

.profile-pic-div{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-70%,-90%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}


/******** pic upload end *******/

.aqua{
  
  bottom: 50%;
  justify-content: center;
  
}

